.square {
  width: 12.5%;
  height: 100%;
  position: relative;
  float: left;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.white {
  background-color: burlywood;
}

.black {
  background-color: rgb(255, 123, 15);
}

.selected {
  background-color: rgb(50, 87, 207);
}
